https://www.udemy.com/course/tensorflow-developer-certificate-machine-learning-zero-to-mastery/learn/lecture/25073748#content

In [15]:
import pandas as pd
series = pd.Series(["BMW", "Toyota", "Honda"])
colors = pd.Series(["Red", "Blue", "White"])
#series are 1-dimensional!
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [16]:
cardata = pd.DataFrame({"Car make": series, "Car color": colors})
cardata

  Car make Car color
0      BMW       Red
1   Toyota      Blue
2    Honda     White

In [17]:
car_sales = pd.read_csv("carsales.csv")
car_sales

     Make  Color  Odometer  Doors   Price
0  Toyota  White    150043      4   $4000
1   Honda    Red     87899      4   $5000
2  Toyota   Blue     32549      3   $7000
3     BMW  Black     11179      5  $22000
4  Nissan  White    213095      4   $3500
5  Toyota  Green     99213      4   $4500
6   Honda   Blue     45698      4   $7500
7   Honda   Blue     54738      4   $7000
8  Toyota  White     60000      4   $6250
9  Nissan  White     31600      4   $9700

In [18]:
heart_disease = pd.read_csv("https://raw.githubusercontent.com/mrdbourke/zero-to-mastery-ml/master/data/heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [19]:
car_sales.dtypes

Make        object
Color       object
Odometer     int64
Doors        int64
Price       object
dtype: object

In [20]:
car_columns = car_sales.columns
car_sales.columns

Index(['Make', 'Color', 'Odometer', 'Doors', 'Price'], dtype='object')

In [21]:
car_sales.index #holds information about the rows in a dataframe

RangeIndex(start=0, stop=10, step=1)

In [22]:
car_sales.describe() #gives statistical info about columns, but notice price isn't included!

            Odometer      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

In [23]:
car_sales.info() #index + dtypes in a human-parseable format!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Make      10 non-null     object
 1   Color     10 non-null     object
 2   Odometer  10 non-null     int64
 3   Doors     10 non-null     int64
 4   Price     10 non-null     object
dtypes: int64(2), object(3)
memory usage: 532.0+ bytes

In [25]:
car_prices = pd.Series([3000, 1500, 111250])
car_prices.mean()

38583.333333333336

In [26]:
car_sales.sum()

Make        ToyotaHondaToyotaBMWNissanToyotaHondaHondaToyo...
Color           WhiteRedBlueBlackWhiteGreenBlueBlueWhiteWhite
Odometer                                               786014
Doors                                                      40
Price       $4000$5000$7000$22000$3500$4500$7500$7000$6250...
dtype: object

In [27]:
car_sales["Doors"].sum()

40

## Viewing and Selecting Data

In [32]:
car_sales.head(3) #head and tail are useful for checking things while you change your data structure

     Make  Color  Odometer  Doors  Price
0  Toyota  White    150043      4  $4000
1   Honda    Red     87899      4  $5000
2  Toyota   Blue     32549      3  $7000

In [34]:
animals = pd.Series(["cat", "dog", "bird", "panda", "snake"], index=[0,3,9,8,3])
animals

0      cat
3      dog
9     bird
8    panda
3    snake
dtype: object

In [35]:
animals.loc[3] #returns all lines that are at location 3 in the index

3      dog
3    snake
dtype: object

In [38]:
animals.iloc[3] #returns the positional line - starting at 0!

'panda'

In [40]:
animals.iloc[:3] #gives up to position 3

0     cat
3     dog
9    bird
dtype: object

In [43]:
car_sales["Make"] == car_sales.Make #they're the same! but dot notation doesn't work for columns with spaces

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
Name: Make, dtype: bool

In [44]:
car_sales[car_sales["Make"] == "Toyota"]

     Make  Color  Odometer  Doors  Price
0  Toyota  White    150043      4  $4000
2  Toyota   Blue     32549      3  $7000
5  Toyota  Green     99213      4  $4500
8  Toyota  White     60000      4  $6250

In [45]:
car_sales[car_sales["Odometer"] > 100000]

     Make  Color  Odometer  Doors  Price
0  Toyota  White    150043      4  $4000
4  Nissan  White    213095      4  $3500

In [46]:
pd.crosstab(car_sales["Make"], car_sales["Doors"]) #compare two columns together!

Doors   3  4  5
Make
BMW     0  0  1
Honda   0  3  0
Nissan  0  2  0
Toyota  1  3  0

In [48]:
#what about multiple columns?
car_sales.groupby(["Make"]).mean()

TypeError: agg function failed [how->mean,dtype->object]